.container {
  max-width: 1200px;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.products {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 20px;
}

/* FILTER BUTTONS */
.filters {
  margin-bottom: 20px;
}

.filters button {
  margin: 5px;
  padding: 8px 15px;
  border: none;
  background: #ddd;
  cursor: pointer;
  border-radius: 5px;
}

.filters button:hover {
  background: #bbb;
}

/* ACTIVE BUTTON */
.filters .active {
  background: #007bff;
  color: white;
}
