.card {
  background: white;
  padding: 15px;
  width: 220px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: 0.3s;
  
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 10px;
}

.card h3 {
  font-size: 14px;
  height: 40px;
  overflow: hidden;
  height: auto;
}

.price {
  font-weight: bold;
  margin: 10px 0;
}

.card button {
  padding: 8px 12px;
  border: none;
  background: #28a745;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.card button:hover {
  background: #218838;
}
